<div class="container py-5">


    <div class="row">

        <div class="col">
            <h1 class="display-4 mt-5 mb-0">Hinzufügung einen ModulStudiengang </h1>
        </div>

     
    </div>


    <hr class="mt-0 mb-5 bg-dark">

    <div class="row">
        <div class="col shadow bg-light">
            <form [formGroup]="AddModuleStudiengangForm" (ngSubmit)="Add_einen_ModulStudiengang()">

              

                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Studiengang</label>
                            <select class="form-select" formControlName="studiengang">
                                <option value="" selected>Auswählen</option>
                                <option *ngFor="let studiengang of Studiengang"
                                    value="{{studiengang.Studiengang_Id_ref}}-{{studiengang.StudiengangName}}">{{studiengang.StudiengangName}}
                                </option>
                            </select>
 

                            <div *ngIf="studiengang_.invalid && (studiengang_.dirty || studiengang_.touched)"
                                class="alert alert-danger">

                                <div *ngIf="studiengang_.errors?.['required']">
                                    Studiengang is erforderlich.
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>

                
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Module</label>
                            <select class="form-select" formControlName="fach">
                                <option value="" selected>Auswählen</option>
                                <option *ngFor="let Course of Fach"
                                    value="{{Course.Fach_Id_ref}}-{{Course.FachName}}">{{Course.FachName}}
                                </option>
                            </select>


                            <div *ngIf="fach_.invalid && (fach_.dirty || fach_.touched)"
                                class="alert alert-danger">

                                <div *ngIf="fach_.errors?.['required']">
                                    Module is erforderlich.
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>






                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">CreditPunkte</label>
                            <input type="text" class="form-control" formControlName="creditpunkte">
                            <div *ngIf="creditpunkte_.invalid && (creditpunkte_.dirty || creditpunkte_.touched)"
                                class="alert alert-danger">

                                <div *ngIf="creditpunkte_.errors?.['required']">
                                    CreditPunkte is erforderlich.
                                </div>
                                <div *ngIf="creditpunkte_.errors?.['min'] || creditpunkte_.errors?.['max']">
                                    CreditPunkte Soll zwischen {{MinimumNumber}} und {{MaximumNumber}} liegen
                                </div>

                            </div> 


                            <div class="row">
                                &nbsp;
                            </div>






                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <button type="submit" [disabled]="!AddModuleStudiengangForm.valid" class="btn btn-warning ">Add einen
                                ModulStudiengang</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>

 
